# Every variable in python acts like object and object has 3 characteristics:
# identity
# type
# value

In [2]:
a=10
print(id(a))
print(type(a))
print(a)

1663027504
<class 'int'>
10

In [3]:
b=10
b

10

In [4]:
print(id(b))

1663027504

In [5]:
a=10
b=24.5
c="gitam"
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 24.5 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

# Number Types:
## integer
## float
## complex
## boolean
## all numbers are immutable, values are not modified. If they are modified new reference is pointing to modified value

In [6]:
a=10
print(id(a))
a=100
print(id(a))

1663027504
1663028944

In [7]:
print(id(10))
print(id(100))

1663027504
1663028944

In [8]:
a='t'
print(id(a))

7043296

In [9]:
a

't'

In [14]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(id(a))
print(a.conjugate())
c=complex(3,4)
print(c)

(2+5j)
2.0
5.0
63963288
(2-5j)
(3+4j)

In [15]:
c=5+7j
d=9+4j
print(c+d)
print(c-d)
print(c*d)

(14+11j)
(-4+3j)
(17+83j)

In [16]:
str="gitam"
str1='gitam'
print(str)
print(str1)
print(type(str),type(str1))
print(len(str))

gitam
gitam
<class 'str'> <class 'str'>
5

# Type Conversions:
## int()
## float()
## complex()
## tuple()
## set()
## dict()
## bool()

# input():
## It is used to give the input to the program and its type is string and by using type conversions to convert it into other types

In [26]:
a=input("enter the number")
print(type(a))
b=int(a)
print(type(b))
print("the number is",b)

enter the number77
<class 'str'>
<class 'int'>
the number is 77

In [19]:
# comments in python

'''
document string
'''

'\ndocument string\n'

In [27]:
#a=10
'''
print("its given the description about resource of python")
'''
b=100
print(a)

77

In [28]:
#a=10
'''
print("its given the description about resource of python")
'''

'\nprint("its given the description about resource of python")\n'

In [29]:
b="1947"
print(type(b))
print(len(b))
c=int(b)
print(type(c))
#print(len(c))

<class 'str'>
4
<class 'int'>

In [30]:
a=int(input("enter the 1st number"))
b=int(input("enter the 2nd number"))
c=a+b
print("sum is",c)

enter the 1st number7
enter the 2nd number7
sum is 14

# Types of operators:
## 1. Arithmetic operators
### Ex:-,+,*,/(decimal quotient),//(integer quotient),**,%
### // (floor division)
### % remainder
### **(act like pow(), where arguments are integers)

In [31]:
a=12
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)# division with decimal
print(a//b)# floor division
print(a%b)# remainder
print(a**b)# pow(a,b)

17
7
60
2.4
2
2
248832

## 2.Relational operators
### Ex: <,<=,>,>=,==,!=

In [32]:
x=10
y=34
print(x<34)
print(x==y)
print(x!=y)
print(int(x>y))
print(int(y>x))

True
False
True
0
1

## 3.Logical operators:
### Ex: and or not

In [35]:
x=20
print(x>=20 and x<=30)
print(x>=30 or x<=20)
print(not(x))

True
True
False

## 4.Membership operators
### Ex: in, not in

In [36]:
str1='gitam'
print('i' in str1)
print('z' not in str1)

True
True

## 5.Identity operators
### is is not

In [37]:
a=45
b=89
print(a is b)
print(a is not b)

False
True

## 6.Bitwise operators: (works with 0 and 1)
### &,|,<<,>>,~
### << left shift
### >> right shift
### ~ (1's complement)

## 7. Special operators:
### + and ' are used for concatenation
### * repetation operator
### [start:stop:step] slice operator
### range(start,stop,step)
### indentation:
### it represents block or {} in c language

In [39]:
a=100
print("value of a is",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3])
print(list(range(1,10,2)))

value of a is 100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
it
[1, 3, 5, 7, 9]

# Control statements:
## 1. if statement
   ### if(condition):
           statement1
           statement2

In [41]:
a=10
if(a>0):
    print("+ve no")
if(a<0):
    print("-ve no")
if(a==0):
    print("zero")

+ve no

In [42]:
a=int(input("enter the number"))
if(a>0):
    print("+ve no")
if(a<0):
    print("-ve no")
if(a==0):
    print("zero")

enter the number-7
-ve no

## 2. if-else statement
### if(condition):
        statement1
        statement2
### else:
        statement1
        statement2

In [43]:
n=int(input("enter the number"))
if(n%2==0):
    print(n,"is even no")
else:
    print(n,"is odd no")

enter the number7
7 is odd no

In [49]:
y=int(input("enter the year"))
if((y%100!=0) and (y%4==0) or (y%400==0)):
    print(y,"is leap year")
else:
    print(y,"is not leap year")

enter the year2024
2024 is leap year

## 3.elseif statement
### if(condition):
        statement1
        statement2
### elif(condition):
        stmt3
        stmt4
### else:
        stmt5
        stmt6

In [52]:
a,b,c=10,200,30
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

200 is big

In [53]:
a=b=c=100
print(a,b,c)

100 100 100

In [54]:
a=10
b=20
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 10 20
after swapping 20 10

In [57]:
a=100
b=5
ch=int(input("enter the choice"))
if(ch==1):
    print(a+b)
elif(ch==2):
    print(a-b)
elif(ch==3):
    print(a*b)
elif(ch==4):
    print(a/b)
else:
    print("invalid choice")

enter the choice4
20.0

In [62]:
ch=input("enter the character:")
if(ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
    print("vowel")
elif(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U'):
    print("vowel")
else:
    print("consonant")

enter the character:l
consonant